html, body, #root .App {
  margin: 0;
  padding: 0;
}
.large-only{
  display: none;
}
.flex-container{
  display: flex;
}
.header{
  background-color: rgb(252, 35, 35);
}
.header-top {
  display: flex;
  justify-content: space-around;
  color:white;
  background-color: rgba(0, 0, 0, 0.315);
  padding: 0.5rem 0;
}
.header-icon{
  margin: 0 0.5rem;
}
.header-top a {
  font-size: 0.85rem;
  color:white;
  text-decoration: none;
  border-bottom: 1px solid white;
  line-height: 1.5rem;
}
.logo{
  max-width: 100px;
}
.header-bottom{
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.header-icon-link{
  background-color: white;
  display: block;
  color: black;
  padding: 0.8rem;
  border-radius: 50%;
  aspect-ratio: 1/1 !important;  
}
.burger{
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
}

.search-bar-wrapper{
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
  justify-content: center;
}
.search-btn{
  background-color: white;
  border: none;
  font-size: 0.9rem;
  height: 45px;
  padding: 0 0.2rem;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.search-input{
  border: none;
  font-size: 0.9rem;
  height: 45px;
  padding: 0;
  width: 70%;
  padding-left: 0.5rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.sidebar-wrapper{
  position: fixed;
  width: 80vw;
  height: 100vh;
  max-width: 300px;
  background-color: white;
  animation: slide-in 200ms, fade-in 200ms;
  animation-timing-function: ease-out;
}
.background{
  background-color: rgba(0, 0, 0, 0.507);
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation: fade-in 200ms;
  animation-timing-function: ease-out;
}
.slide-out{
  animation: fade-out 300ms, slide-out 450ms;
  animation-fill-mode: forwards;
}
.fade-out{
  animation: fade-out 300ms;
  animation-fill-mode: forwards;
}
@keyframes slide-out{
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-70%);
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-70%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fade-in{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (min-width: 1000px){
  .large-only{
    display: initial;
  }
}